<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1> 
<!-- <form action="/post" method="POST">
	
	<input type="text" name = "path" placeholder="enter path" required/> </br>
	<input type="text" name = "caption" placeholder="caption" required/> </br>
	<input type="text" name = "privacy" placeholder="0 for private,1 for allFollower" required/> </br>
	<input type="submit" value = Post />
</form> -->

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are your friends' recent posts:

<form action="/comment">
<table>
	<th>postingDate</th>
	<th>pID</th>
	<th>caption</th>
	<th>poster</th>

{% for line in posts %}
	<tr>
		<input type="radio" name="selected" value={{line.pID}}>{{line.pID}}</input>
		<td>{{line.postingDate}}</td>
		<td>{{line.pID}}</td>
		<td>{{line.caption}}</td>
		<td>{{line.poster}}</td>
	</tr>
{% endfor %}
</table>

	<input type="text" name = "commentContent" placeholder="Comment your friend's post" required/> </br>
	<input type="submit">post your comment</button>
</form>
<a href="/goToPost">Post a new picture</a>
<br>
<a href="/my_posts">View My Posts</a>
<br>
<a href="/discover">discover</a>
<br>
<a href="/manageFollow">Manage Follower</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>
