<html>
<head>
</head>
<body>
<form action="/managePasswordAuth" method="POST">
	<input type="password" name = "currentPassword" placeholder="current password" required/> </br>
    <input type="password" name = "newPassword" placeholder="new password" required/></br>
    <input type="password" name = "confirmPassword" placeholder="confirm new password" required/></br>
	<input type="submit" />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>
